* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(#2abb9c, #04bb94);
}

main {
  width: 70%;
  height: 100vh;
  margin: 0 auto;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(to bottom right, #f4f7f8, #dfe6e8);
}

h1 {
  text-align: center;
  padding: 2rem;
}

form {
  width: 70%;
  margin: 0 auto;
}

.form__row {
  display: flex;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.form__label {
  flex: 2;
  padding: 0.2rem;
  margin-right: 1rem;
  text-align: right;
}

.form__input {
  flex: 3;
  padding: 0.2rem;
  border: none;
}

i {
  visibility: hidden;
  margin-left: 0.3rem;
  padding: 0.2rem;
  color: #c5283d;
}

.form__error {
  margin-bottom: 0.5rem;
  min-height: 1rem;
  text-align: center;
  font-weight: bold;
  color: #c5283d;
}

.form__row_submit {
  justify-content: flex-end;
  margin-right: 2rem;
}
.form__submit {
  color: white;
  background: #2abb9c;
  border-width: 0 0 3px;
  border-color: #249e84;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  padding: 0.25rem;
}
.form__submit:hover {
  background: #23dcb4;
}
