* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(#636762, #383a38);
}

main {
  width: 70%;
  height: 100vh;
  margin: 0 auto;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(to bottom right, #f7a704, #fbd587);
}

h1 {
  text-align: center;
  padding: 2rem;
}

form {
  width: 70%;
  margin: 0 auto;
}

.form__row {
  display: flex;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

label {
  flex: 2;
  padding: 0.2rem;
}

.form__input {
  flex: 3;
  padding: 0.2rem;
}

i {
  visibility: hidden;
  margin-left: 0.3rem;
  padding: 0.2rem;
  color: #c5283d;
}

.form__error {
  visibility: hidden;
  margin-bottom: 0.5rem;
  height: 1rem;
  text-align: center;
  font-weight: bold;
  color: #c5283d;
}

.form__row_submit {
  justify-content: flex-end;
  margin-right: 2rem;
}
.form__submit {
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.25rem;
}
.form__submit:hover {
  background: wheat;
}
